In [18]:
# Importing dependencies
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
# Reading the data into a Pandas DataFrame
natural_disaster_df = pd.read_excel('Resources/public_emdat_2004_to_2024.xlsx')
natural_disaster_df.head(10)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,Country,Subregion,Region,Location,Origin,Associated Types,OFDA/BHA Response,Appeal,Declaration,AID Contribution ('000 US$),Magnitude,Magnitude Scale,Latitude,Longitude,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2004-0001-IDN,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp000cgss,NaN,IDN,Indonesia,South-eastern Asia,Asia,"Kota Mataram, Lombok Barat districts (Nusateng...",NaN,NaN,No,No,No,NaN,5.8,Moment Magnitude,-8.310,115.788,NaN,2004,1.0,1.0,2004,1.0,1.0,1.0,40.0,30000.0,NaN,30040.0,NaN,NaN,NaN,NaN,12000.0,19358.0,61.989586,"[{""adm2_code"":17974,""adm2_name"":""Karangasem""},...",2014-02-25,2023-09-25
1,2004-0004-ASM,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Heta,ASM,American Samoa,Polynesia,Oceania,American Samoa,NaN,NaN,No,No,Yes,NaN,310.0,Kph,NaN,NaN,NaN,2004,1.0,5.0,2004,1.0,5.0,NaN,60.0,20000.0,3000.0,23060.0,NaN,NaN,NaN,NaN,150000.0,241976.0,61.989586,"[{""adm1_code"":389,""adm1_name"":""Administrative ...",2005-07-28,2023-09-25
2,2004-0004-NIU,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Heta,NIU,Niue,Polynesia,Oceania,Alofi area (Niue province),NaN,NaN,No,No,No,NaN,300.0,Kph,NaN,NaN,NaN,2004,1.0,6.0,2004,1.0,6.0,1.0,2.0,200.0,500.0,702.0,NaN,NaN,NaN,NaN,40000.0,64527.0,61.989586,"[{""adm1_code"":2241,""adm1_name"":""Administrative...",2004-01-08,2023-09-25
3,2004-0004-TON,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Heta,TON,Tonga,Polynesia,Oceania,"Tafahi, Nuiatoputapu islands (Tonga province)",NaN,NaN,No,No,No,NaN,NaN,Kph,NaN,NaN,NaN,2004,1.0,6.0,2004,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,"[{""adm1_code"":2976,""adm1_name"":""Administrative...",2004-01-13,2023-09-25
4,2004-0004-WSM,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Heta,WSM,Samoa,Polynesia,Oceania,"Savaii, Upolu islands (Samoa province)",NaN,Flood|Surge,No,No,Yes,NaN,310.0,Kph,NaN,NaN,NaN,2004,1.0,5.0,2004,1.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,"[{""adm1_code"":2618,""adm1_name"":""Administrative...",2004-01-16,2023-09-25
5,2004-0006-BDI,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,BDI,Burundi,Sub-Saharan Africa,Africa,Mpanda district (Bubanza province),NaN,NaN,No,No,No,NaN,NaN,Kph,NaN,NaN,NaN,2004,1.0,4.0,2004,1.0,4.0,NaN,NaN,NaN,500.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,"[{""adm2_code"":40561,""adm2_name"":""Mpanda""}]",2004-01-07,2023-09-25
6,2004-0010-TUR,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,TUR,T체rkiye,Western Asia,Asia,"Aragpir city (Malatya province), Istanbul, Ank...",NaN,Snow/ice,No,No,No,NaN,-22.0,째C,NaN,NaN,NaN,2004,1.0,9.0,2004,1.0,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,"[{""adm1_code"":3023,""adm1_name"":""Ankara""},{""adm...",2004-01-12,2023-09-25
7,2004-0011-DZA,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp000chm5,NaN,DZA,Algeria,Northern Africa,Africa,"Alger, Boumerdes provinces",NaN,NaN,No,No,No,NaN,4.5,Moment Magnitude,36.852,3.418,NaN,2004,1.0,10.0,2004,1.0,10.0,NaN,300.0,NaN,NaN,300.0,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,"[{""adm1_code"":344,""adm1_name"":""Alger""},{""adm1_...",2014-03-26,2023-09-25
8,2004-0012-IRN,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IRN,Iran (Islamic Republic of),Southern Asia,Asia,"Firuzabad, Lamerd, Darab, Abadeh, Bavanat, Mam...",Heavy rains,Broken Dam/Burst bank,No,No,No,NaN,NaN,Km2,NaN,NaN,NaN,2004,1.0,10.0,2004,1.0,19.0,6.0,10.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,"[{""adm1_code"":1540,""adm1_name"":""Bushehr""},{""ad...",2004-02-04,2023-09-25
9,2004-0012-IRQ,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IRQ,Iraq,Western Asia,Asia,"Marshland area (Nassriya district, Thi-Qar pro...",Heavy rains,NaN,No,No,No,NaN,NaN,Km2,NaN,NaN,NaN,2004,1.0,10.0,2004,1.0,19.0,NaN,NaN,8000.0,NaN,8000.0,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,"[{""adm2_code"":36844,""adm2_name"":""Nassriya""}]",2004-02-04,2023-09-25

In [3]:
#Info on columns
natural_disaster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7692 entries, 0 to 7691
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     7692 non-null   object
 1   Historic                                   7692 non-null   object
 2   Classification Key                         7692 non-null   object
 3   Disaster Group                             7692 non-null   object
 4   Disaster Subgroup                          7692 non-null   object
 5   Disaster Type                              7692 non-null   object
 6   Disaster Subtype                           7692 non-null   object
 7   External IDs                               2090 non-null   object
 8   Event Name                                 1464 non-null   object
 9   ISO                                        7692 non-null   object
 10  Country                                    7692 non-null   object
 11  Subregion                                  7692 non-null   object
 12  Region                                     7692 non-null   object
 13  Location                                   7413 non-null   object
 14  Origin                                     3354 non-null   object
 15  Associated Types                           2985 non-null   object
 16  OFDA/BHA Response                          7692 non-null   object
 17  Appeal                                     7692 non-null   object
 18  Declaration                                7692 non-null   object
 19  AID Contribution ('000 US$)                310 non-null    float64
 20  Magnitude                                  2514 non-null   float64
 21  Magnitude Scale                            7189 non-null   object
 22  Latitude                                   1671 non-null   float64
 23  Longitude                                  1671 non-null   float64
 24  River Basin                                982 non-null    object
 25  Start Year                                 7692 non-null   int64
 26  Start Month                                7648 non-null   float64
 27  Start Day                                  6915 non-null   float64
 28  End Year                                   7692 non-null   int64
 29  End Month                                  7615 non-null   float64
 30  End Day                                    6904 non-null   float64
 31  Total Deaths                               5469 non-null   float64
 32  No. Injured                                2202 non-null   float64
 33  No. Affected                               5134 non-null   float64
 34  No. Homeless                               885 non-null    float64
 35  Total Affected                             6143 non-null   float64
 36  Reconstruction Costs ('000 US$)            30 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  30 non-null     float64
 38  Insured Damage ('000 US$)                  596 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        586 non-null    float64
 40  Total Damage ('000 US$)                    2565 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          2531 non-null   float64
 42  CPI                                        7467 non-null   float64
 43  Admin Units                                6893 non-null   object
 44  Entry Date                                 7692 non-null   object
 45  Last Update                                7692 non-null   object
dtypes: float64(20), int64(2), object(24)
memory usage: 2.7+ MB

In [4]:
#Get unique values in the Disaster Type and Disaster Subtype columns
disaster_type = natural_disaster_df['Disaster Type'].unique()
disaster_subtype = natural_disaster_df['Disaster Subtype'].unique()

print(disaster_type)
print(disaster_subtype)

['Earthquake' 'Storm' 'Extreme temperature' 'Flood' 'Volcanic activity'
 'Mass movement (wet)' 'Wildfire' 'Mass movement (dry)' 'Drought'
 'Glacial lake outburst flood']
['Ground movement' 'Tropical cyclone' 'Storm (General)' 'Cold wave'
 'Flash flood' 'Riverine flood' 'Blizzard/Winter storm' 'Ash fall'
 'Landslide (wet)' 'Severe weather' 'Mudslide' 'Tornado' 'Forest fire'
 'Hail' 'Lightning/Thunderstorms' 'Heat wave' 'Avalanche (wet)'
 'Flood (General)' 'Landslide (dry)' 'Tsunami'
 'Land fire (Brush, Bush, Pasture)' 'Drought' 'Extra-tropical storm'
 'Severe winter conditions' 'Wildfire (General)' 'Coastal flood'
 'Rockfall (dry)' 'Sand/Dust storm' 'Rockfall (wet)' 'Avalanche (dry)'
 'Volcanic activity (General)' 'Lava flow' 'Storm surge' 'Derecho'
 'Pyroclastic flow' 'Glacial lake outburst flood' 'Lahar']

In [14]:
print(len(disaster_type))
print(len(disaster_subtype))

10
37

In [5]:
#Drop unwanted columns   
natural_disaster_df = natural_disaster_df.drop(columns=['Historic','Classification Key','Disaster Group','Disaster Subgroup',
                                                        'External IDs','ISO','Location','Admin Units'])
natural_disaster_df.head()

,DisNo.,Disaster Type,Disaster Subtype,Event Name,Country,Subregion,Region,Origin,Associated Types,OFDA/BHA Response,Appeal,Declaration,AID Contribution ('000 US$),Magnitude,Magnitude Scale,Latitude,Longitude,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Entry Date,Last Update
0,2004-0001-IDN,Earthquake,Ground movement,NaN,Indonesia,South-eastern Asia,Asia,NaN,NaN,No,No,No,NaN,5.8,Moment Magnitude,-8.31,115.788,NaN,2004,1.0,1.0,2004,1.0,1.0,1.0,40.0,30000.0,NaN,30040.0,NaN,NaN,NaN,NaN,12000.0,19358.0,61.989586,2014-02-25,2023-09-25
1,2004-0004-ASM,Storm,Tropical cyclone,Heta,American Samoa,Polynesia,Oceania,NaN,NaN,No,No,Yes,NaN,310.0,Kph,NaN,NaN,NaN,2004,1.0,5.0,2004,1.0,5.0,NaN,60.0,20000.0,3000.0,23060.0,NaN,NaN,NaN,NaN,150000.0,241976.0,61.989586,2005-07-28,2023-09-25
2,2004-0004-NIU,Storm,Tropical cyclone,Heta,Niue,Polynesia,Oceania,NaN,NaN,No,No,No,NaN,300.0,Kph,NaN,NaN,NaN,2004,1.0,6.0,2004,1.0,6.0,1.0,2.0,200.0,500.0,702.0,NaN,NaN,NaN,NaN,40000.0,64527.0,61.989586,2004-01-08,2023-09-25
3,2004-0004-TON,Storm,Tropical cyclone,Heta,Tonga,Polynesia,Oceania,NaN,NaN,No,No,No,NaN,NaN,Kph,NaN,NaN,NaN,2004,1.0,6.0,2004,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,2004-01-13,2023-09-25
4,2004-0004-WSM,Storm,Tropical cyclone,Heta,Samoa,Polynesia,Oceania,NaN,Flood|Surge,No,No,Yes,NaN,310.0,Kph,NaN,NaN,NaN,2004,1.0,5.0,2004,1.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,2004-01-16,2023-09-25

In [24]:
disaster_type_ids = np.arange(1, 11)
disaster_subtype_ids = np.arange(1, 38)

print(disaster_type_ids)
print(disaster_subtype_ids)

[ 1  2  3  4  5  6  7  8  9 10]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37]

In [26]:
#Each Disaster Type was given an 'id' 
type_ids = [f"type{type_ids}" for type_ids in disaster_type_ids]

#Each Disaster Subtype was given an 'id'     
sub_type_ids = [f"subtype{sub_type_ids}" for sub_type_ids in disaster_subtype_ids]
    
print(type_ids)
print(sub_type_ids)

['type1', 'type2', 'type3', 'type4', 'type5', 'type6', 'type7', 'type8', 'type9', 'type10']
['subtype1', 'subtype2', 'subtype3', 'subtype4', 'subtype5', 'subtype6', 'subtype7', 'subtype8', 'subtype9', 'subtype10', 'subtype11', 'subtype12', 'subtype13', 'subtype14', 'subtype15', 'subtype16', 'subtype17', 'subtype18', 'subtype19', 'subtype20', 'subtype21', 'subtype22', 'subtype23', 'subtype24', 'subtype25', 'subtype26', 'subtype27', 'subtype28', 'subtype29', 'subtype30', 'subtype31', 'subtype32', 'subtype33', 'subtype34', 'subtype35', 'subtype36', 'subtype37']

In [32]:
# Disaster Type with id in a Dataframe
disaster_type_df = pd.DataFrame({
    'disaster_type_id': type_ids,
    'disaster_type': disaster_type
})

disaster_type_df

  disaster_type_id                disaster_type
0            type1                   Earthquake
1            type2                        Storm
2            type3          Extreme temperature
3            type4                        Flood
4            type5            Volcanic activity
5            type6          Mass movement (wet)
6            type7                     Wildfire
7            type8          Mass movement (dry)
8            type9                      Drought
9           type10  Glacial lake outburst flood

In [34]:
# Disaster Subtype with id in a Dataframe
disaster_subtype_df = pd.DataFrame({
    'disaster_subtype_id': sub_type_ids,
    'disaster_subtype': disaster_subtype
})

disaster_subtype_df

   disaster_subtype_id                  disaster_subtype
0             subtype1                   Ground movement
1             subtype2                  Tropical cyclone
2             subtype3                   Storm (General)
3             subtype4                         Cold wave
4             subtype5                       Flash flood
5             subtype6                    Riverine flood
6             subtype7             Blizzard/Winter storm
7             subtype8                          Ash fall
8             subtype9                   Landslide (wet)
9            subtype10                    Severe weather
10           subtype11                          Mudslide
11           subtype12                           Tornado
12           subtype13                       Forest fire
13           subtype14                              Hail
14           subtype15           Lightning/Thunderstorms
15           subtype16                         Heat wave
16           subtype17                   Avalanche (wet)
17           subtype18                   Flood (General)
18           subtype19                   Landslide (dry)
19           subtype20                           Tsunami
20           subtype21  Land fire (Brush, Bush, Pasture)
21           subtype22                           Drought
22           subtype23              Extra-tropical storm
23           subtype24          Severe winter conditions
24           subtype25                Wildfire (General)
25           subtype26                     Coastal flood
26           subtype27                    Rockfall (dry)
27           subtype28                   Sand/Dust storm
28           subtype29                    Rockfall (wet)
29           subtype30                   Avalanche (dry)
30           subtype31       Volcanic activity (General)
31           subtype32                         Lava flow
32           subtype33                       Storm surge
33           subtype34                           Derecho
34           subtype35                  Pyroclastic flow
35           subtype36       Glacial lake outburst flood
36           subtype37                             Lahar

In [36]:
# Export Dataframes as CSV files.
disaster_type_df.to_csv("Resources/category.csv", index=False)

disaster_subtype_df.to_csv("Resources/subcategory.csv", index=False)

In [54]:
#Change all NaN values to 0
natural_disaster_df['Total Deaths'] = natural_disaster_df['Total Deaths'].fillna(0)

natural_disaster_df.head(5)

,DisNo.,Disaster Type,Disaster Subtype,Event Name,Country,Subregion,Region,Origin,Associated Types,OFDA/BHA Response,Appeal,Declaration,AID Contribution ('000 US$),Magnitude,Magnitude Scale,Latitude,Longitude,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Entry Date,Last Update
0,2004-0001-IDN,Earthquake,Ground movement,NaN,Indonesia,South-eastern Asia,Asia,NaN,NaN,No,No,No,NaN,5.8,Moment Magnitude,-8.31,115.788,NaN,2004,1.0,1.0,2004,1.0,1.0,1.0,40.0,30000.0,NaN,30040.0,NaN,NaN,NaN,NaN,12000.0,19358.0,61.989586,2014-02-25,2023-09-25
1,2004-0004-ASM,Storm,Tropical cyclone,Heta,American Samoa,Polynesia,Oceania,NaN,NaN,No,No,Yes,NaN,310.0,Kph,NaN,NaN,NaN,2004,1.0,5.0,2004,1.0,5.0,0.0,60.0,20000.0,3000.0,23060.0,NaN,NaN,NaN,NaN,150000.0,241976.0,61.989586,2005-07-28,2023-09-25
2,2004-0004-NIU,Storm,Tropical cyclone,Heta,Niue,Polynesia,Oceania,NaN,NaN,No,No,No,NaN,300.0,Kph,NaN,NaN,NaN,2004,1.0,6.0,2004,1.0,6.0,1.0,2.0,200.0,500.0,702.0,NaN,NaN,NaN,NaN,40000.0,64527.0,61.989586,2004-01-08,2023-09-25
3,2004-0004-TON,Storm,Tropical cyclone,Heta,Tonga,Polynesia,Oceania,NaN,NaN,No,No,No,NaN,NaN,Kph,NaN,NaN,NaN,2004,1.0,6.0,2004,1.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,2004-01-13,2023-09-25
4,2004-0004-WSM,Storm,Tropical cyclone,Heta,Samoa,Polynesia,Oceania,NaN,Flood|Surge,No,No,Yes,NaN,310.0,Kph,NaN,NaN,NaN,2004,1.0,5.0,2004,1.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.989586,2004-01-16,2023-09-25

In [ ]:
total_affected_df = pd.DataFrame({
    'disaster_subtype_id': sub_type_ids,
    'disaster_subtype': disaster_subtype
})

total_affected_df